.card{
    width: 220px;
    height: 300px;
}

.card_inner{
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #082129;

    .card_headline{
        display: flex;
        justify-content: center;
        padding: 8px 16px 0 16px;
    }

    .pokemon_img_container{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: -56px 16px 0 16px; */
    }

    .pokemon_type_container{
        display: flex;
        justify-content: center;
    }
}

.test{
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

img{
    width: 140px;
    filter: drop-shadow(8px 8px 12px black);
    height: 140px;
    margin: 16px;
}