.card {
  width: 220px;
  height: 300px;
}

.card_inner {
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #082129;

    .card_headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 8px;
        position: relative;
        height: 40px;

    .inner_headline {
        height: 100%;
        width: 100%;
        text-align: center;
    }
  }

    .pokemon_img_container {
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .pokemon_type_container {
    display: flex;
    justify-content: center;
    gap: 16px;

    .class_icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-content: center;
        border-radius: 20px;
        border: solid;
        border-color: white;
        border-width: 1px;
    }
  }

  &:hover{
    transition: all 0.2s;
    filter: drop-shadow(0 0 12px white);
    transform: scale(1.1);
    cursor: pointer;

    h2{
        text-shadow: 4px 4px 4px red;
    }

    img {
        transition: all 0.3s;
        transform: scale(1.3);
    }
  }
}

.test {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

img {
  width: 140px;
  filter: drop-shadow(8px 8px 12px black);
  height: 140px;
  margin: 16px;
}
