.grass{
    background-color: green;
}

.fire{
    background-color: #ff4200;
}

.water{
    background-color: blue;
}

.bug {
    background-color: blueviolet;
}

.normal {
    background-color: rgb(141, 99, 21);
}

.poison {
    background-color: rgb(187, 113, 255);
}

.electric {
    background-color: yellow;
}

.fairy {
    background-color: pink;
}

.ice{
    background-color: aliceblue;
}

.ghost{
    background-color: cadetblue;
}

.rock{
    background-color: rgb(95, 95, 95);
}

.psychic{
    background-color: fuchsia;
}

.dragon{
    background-color: rgb(255, 89, 0);
}

.dark{
    background-color: rgb(0, 0, 58);
}

.flying{
    background-color: rgb(212, 250, 250);
}

.steel{
    background-color: rgb(154, 154, 154);
}

.ground{
    background-color: rgb(82, 55, 55);
}

.fighting{
    background-color: bisque;
}