@font-face {
    font-family: "OpenSans";
    src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

body{
    background-color: #05171e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;
    font-family: OpenSans;
    margin: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 32px;

    &:hover{
        transition: all 0.2s;
        text-decoration: underline;
        font-size: 36px;
    }
}

h2{
    margin-block: 0;
    font-size: 22px;
}

header{
    height: 120px;
    width: 100%;
    background-color: #082129;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

footer{
    height: 120px;
    width: 100%;
    background-color: #082129;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 80px;
    height: 36px;
    background-color: #0e3b4a;
    color: white;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}

button {
    background-color: #0e3b4a;
    border: 1px solid;
    border-color: white;
    color: white;
    height: 32px;
    cursor: pointer;
}

li{
    list-style: none;
}