@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0%   { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root{
    --primary-bg-color: #05171e; 
    --secondary-bg-color: #082129;
    --shadow-color: black;
    --font-color: white;
    --highlight-color: #0e3b4a;
}

@font-face {
    font-family: "OpenSans";
    src: url('../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

body{
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    text-shadow: 2px 2px var(--shadow-color);
    font-family: OpenSans;
    margin: 0;
    gap: 16px;
}

main{
    min-height: calc(100dvh - 320px - 32px);
}

a{
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
    font-size: 32px;

    &:hover{
        transition: all 0.2s;
        text-decoration: underline;
        font-size: 36px;
    }
}

h2{
    margin-block: 0;
    font-size: 22px;
}

header{
    height: 200px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9;
}

footer{
    height: 120px;
    width: 100%;
    background-color: var(--secondary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 80px;
    height: 36px;
    background-color: var(--highlight-color);
    color: var(--font-color);
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
}

button {
    background-color: var(--highlight-color);
    border: 1px solid;
    border-color: var(--font-color);
    color: var(--font-color);
    height: 32px;
    cursor: pointer;
}

li{
    list-style: none;
}

body:has(dialog#details[open]) {
    overflow: hidden;
}

body:has(dialog#loadingSpinner[open]) {
    overflow: hidden;
}

img {
  width: 140px;
  filter: drop-shadow(8px 8px 12px var(--shadow-color));
  height: 140px;
  margin: 16px;
}