body{
    background-color: #05171e;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 2px 2px black;
}

h2{
    margin-block: 0;
}

header{
    height: 320px;
}

.inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.center_text{
    text-align: center;
}