dialog{
    width: 100dvw;
    height: 100dvh;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.719);
    }
}

.dialog_body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 693px;
    width: 450px;
    background-color: var(--primary-bg-color);
    border-radius: 16px;

    &::before, 
    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        inset: -0.2rem;
        background: conic-gradient(from var(--gradient-angle), red, blue, green);
        animation: rotation 20s linear infinite;
        border-radius: 16px;
    }
    &::after{
        filter: blur(3.5rem);
    }

    main{
        min-height: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    h3{
        text-align: center;
    }

    button{
        border-radius: 20px;
        width: 40px;
        height: 40px;               
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dialog_switch_button{
        border: none;
        border-radius: 0;
        width: 33.34%;
        height: 100%;
        background-color: #114658;

        &:hover {
            transition: all 0.2s;
            border-bottom: 2px solid white;
        }
    }

    .dialog_prev_next_button{
        border: none;
        border-radius: 0;
        width: 50%;
        height: 100%;
        background-color: #114658;

        &:hover {
            transition: all 0.2s;
            border: 2px solid white;
        }
    }
    
    .dialog_switch_button_active{
        border-bottom: 2px red;
        border-style: solid;
        border-left: none;
        border-right: none;
        border-top: none;
        font-weight: bold;
    }

    .dialog_footer{
        height: 43px;
        margin-top: -8px;
    }

    .bottom_left_radius{
        border-bottom-left-radius: 16px;
    }

    .bottom_right_radius{
        border-bottom-right-radius: 16px;
    }

    .dialog_main_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dialog_description{
        font-size: 14px;
        width: 90%;
        text-align: center;
    }

    .dialog_list{
        display:flex;
        width: 90%;
        gap: 8px;
        font-size: 12px;
    }
}

.dialog_header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 48px;
    background-color: var(--primary-bg-color);
    padding: 8px;
}

.dialog_main_img{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img{   
        margin: 0;
    }
}

.dialog_inner_headline{
    position: absolute;
    width: 100%;
    text-align: center;
}

.dialog_classes{
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog_evo_chain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .dialog_evo_chain_img{
        width: 88px;
        height: 88px;
        margin: 0;
    }

    .dialog_evo_chain_arrow{
        width: 40px;
        height: 40px;
        margin: 0;
        padding-top: 16px;
    }
}

.infoContainer{
    background-color: #0c303d;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog_evo_chain_inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        margin-block: 0;
    }
}

.dialog_switches_container{
    display: flex;
    height: 40px;
    margin-bottom: -8px;
    gap: 2px;
}

.shiny_img{
    width: 200px;
    height: 200px
    
}

.d_none{
    display: none;
}