.search_area{
    position: fixed;
    top: 190px;

    .search_results{
        display: flex;
        flex-direction: column;
    }

    .result_button{
        height: 32px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;

        &:hover{
            background-color: #185b71;
        }
    }

    .search_field{
        width: 240px;
        height: 32px;
        cursor: text;
        border-radius: 8px;
        border: none;
    }
}

.header_settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 8px;
}

.settings_button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(0, 0, 0, 0);

    img{
        width: 32px;
        height: 32px;
        margin: 0;
    }

    &:hover{
        transition: all 0.3s;
        transform: scale(1.2);
    }
}

.setting_option_container{
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;
}

.settings_menu{
    width: 450px;
    background-color: var(--primary-bg-color);
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 500px){
        width: 250px;
        p{
            font-size: 12px;
        }
    }
}