.search_area{
    position: fixed;
    top: 190px;
    .search_results{
        display: flex;
        flex-direction: column;
    }

    .result_button{
        height: 32px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header_settings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 8px;
}

.settings_button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    img{
        width: 32px;
        height: 32px;
        margin: 0;
    }

    &:hover{
        transition: all 0.3s;
        transform: scale(1.2);
    }
}