.checkbox{
    height: 20px;
    width: 20px;
}

.auto_load{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.middle_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.center_text{
    text-align: center;
}

.head {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.impressum_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a{
        font-size: 20px;
    }
}

.logo{
    height: 100px;
    width: auto;
    filter: drop-shadow(8px 8px 12px black);
    margin: 0;
}

.type_img{
    filter: invert();
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: bottom;
    filter: invert() drop-shadow(1px 1px 2px black) drop-shadow(-1px -1px 0 black)
}

.tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 140%;
  margin-left: -65px;
}

.type_img:hover .tooltiptext {
  visibility: visible;
}

.loading_container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        font-size: 48px;
        color: #0e303d;
    }
}

.loader {
  width: 30dvw;
  height: 30dvw;
  animation: spin 2s linear infinite;
  filter: none;
}

.margin_minus_fifty{
    margin-top: -48px;
}

.text_align_end{
    text-align: end;
    vertical-align: middle;
}

@media screen and (max-width: 450px) {
    .logo{
        width: 260px;
        height: auto;
    }
}